.nav-container {
    width: 30%;
    height: 5vh;
    background-color: rgb(73, 115, 153);
    padding: 20px 20px 0 20px;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

.rooms-list {
    width: 30%;
    height: calc(95vh - 60px);
    background-color: rgb(159, 204, 244);
    padding: 20px;
    font-size: 1rem;
    text-transform: none;
    font-weight: bold;
}

.detail {
    text-indent: 20px;
    font-size: 0.8rem;
    font-weight: normal;
}

.rooms-list p {
    font-weight: normal;
}
