.nav-container {
    position: fixed;
    width: 30%;
    height: 100vh;
    margin: 0px;
    cursor: auto;
}

.nav-container-title {
    width: 30%;
    position: fixed;
    height:80px;
    background-color: rgb(73, 115, 153);
    padding: 20px 20px 0 20px;
    margin: 0px;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.rooms-list {
    top: 80px;
    position: fixed;
    width: 30%;
    min-height: 80vh;
    background-color: rgb(159, 204, 244);
    padding: 20px;
    cursor: auto;
}

.rooms-list-title {
    font-size: 1.0rem;
    font-weight: bold;
    text-transform: none;
    padding-bottom: 5px;
}

.detail {
    text-indent: 20px;
    font-size: 0.8rem;
    font-weight: normal;
    cursor: pointer;
}

.temp-button {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    background-color: rgb(242, 242, 242);
    padding: 5px;
    margin-left: 70%;
    width: 25%;
    box-shadow: 2px 2px grey;
    z-index:100;
}

.modal-header {
    background-color: rgb(159, 204, 244);
    padding: 10px;
    font-size: 1rem;
    text-transform: none;
    font-weight: bold;
}

.modal-body .label {
    font-size: 1rem;
    text-transform: none;
    font-weight: bold;
}

.form-control {
    font-size: 0.8rem;
    text-transform: none;
    font-weight: normal;
}

.button-primary {
    font-size: 0.8rem;
    text-transform: none;
    font-weight: normal;
}

.room-chat-container {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100vh;
    background-color: white;
    padding: 20px 20px 0 20px;
    margin: 0px;
    cursor: auto;
}

.message-single-container {
    background-color: lightgrey;
    border-top: 1px solid black;
    padding: 0 5px 0 5px;
}

.message-sent-at {
    font-style: italic;
    text-align: right;
}

.message-username {
    font-weight: bold;
    text-align: left;
}

.message-content {
    font-weight: normal;
    text-align:left;
}

.error-message {
    color: red;
}

.message-compose {
    position: fixed;
    bottom: 0pX;
}

.text-input-window {
    width: 200%;
}
