<main>
    <!-- We don't need to code 'ng-controller="HomeCtrl as home"' because we already assigned that to the home state at app.js-->
    <div class="rooms-list">
        <p class="rooms-list-title">{{ home.Welcome }} </p>
        <section class="detail"  ng-repeat = "roomNum in home.rooms track by $index">
            <p ng-click="home.roomClick(roomNum.$value)"> {{ roomNum.$value }} </p>
        </section>
        <div ng-controller= "ModalCtrl">
            <section class="temp-button" ng-click="open()">New Room</section>
        </div>
    </div>
    <div class="room-chat-container">
        <section>
            <p class="rooms-list-title"> {{home.currentRoomName}} </p>
        </section>
        <section class="message-single-container" ng-repeat = "message in home.getMessagesByRoomId track by $index">
            <p class="message-sent-at"> {{message.sentAt}} </p>
            <p class="message-username"> {{message.username}} </p>
            <p class= "message-content"> {{message.content}}</p>
        </section>
    </div>
</main>
