<main>
    <!-- We don't need to code 'ng-controller="HomeCtrl as home"' because we already assigned that to the home state at app.js-->
    <div class="rooms-list">
        <p class="rooms-list-title">{{ home.Welcome }} </p>
        <section class="detail"  ng-repeat = "roomNum in home.rooms track by $index">
            <!-- Junior advised me to pass the entire roomNum object instead of only roomNum.$value. This passes $id, and eliminates the need to get the latter separately (as I had coded)-->
            <!--p ng-click="home.roomClick(roomNum.$value)"> {{ roomNum.$value }} </p-->
            <p ng-click="home.roomClick(roomNum)"> {{ roomNum.$value }} </p>
        </section>
        <div ng-controller= "ModalCtrl">
            <section class="temp-button" ng-click="openNewRoom()">New Room</section>
        </div>
    </div>
    <div class="room-chat-container">
        <section>
            <p class="rooms-list-title"> {{home.currentRoomName}} </p>
        </section>
        <section class="message-single-container" ng-repeat = "message in home.getMessagesByRoomId track by $index">
            <p class="message-sent-at"> {{message.sentAt}} </p>
            <p class="message-username"> {{message.username}} </p>
            <p class= "message-content"> {{message.content}}</p>
        </section>
    <div class="message-compose">
        <form>
        <input class="text-input-window" type="text" ng-model="newMessageToSend">
        <button ng-click="send(newMessage)">Send</button>
        </form>
    </div>
    </div>
</main>
